<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user.name %></h1>
    <h3><%=@contract.salary%></h3>
    <h3><%=@contract.salary%></h3>

    <p>
    </p>
  </body>
</html>
