

    const productarea =   $('.productarea').val()
    //MINIMUM SALARY DEEPENING ON AREA OF EXPERTISE
    function MinSalaryIt() {
        if ($('.productarea .opts').val() === "IT" && $('.experience').val() === "1 year" && Number($('.salary').val()) < 33000){
            alert("The salary you have choosen for the given position is too low, please enter a realistic salary");
            return true
        }  else if ($('.productarea .opts').val() === "IT" && $('.experience').val() === "Just Graduated" && Number($('.salary').val()) < 25000){
              alert("The salary you have choosen for the given position is too low, please enter a realistic salary")
              return true
          }
        else if ($('.productarea .opts').val() === "IT" && $('.experience').val() === "2 years" && Number($('.salary').val()) < 37000){
            alert("The salary you have choosen for the given position is too low, please enter a realistic salary")
            return true
        }
        else if ($('.productarea .opts').val() === "IT" && $('.experience').val() === "3 years" && Number($('.salary').val()) < 40000){
            alert("The salary you have choosen for the given position is too low, please enter a realistic salary")
            return true
        }
        else if ($('.productarea .opts').val() === "IT" && $('.experience').val() === "4 years" && Number($('.salary').val()) < 45000){
            alert("The salary you have choosen for the given position is too low, please enter a realistic salary")
            return true
        }
        else if ($('.productarea .opts').val() === "IT" && $('.experience').val() === "5 years" && Number($('.salary').val()) < 50000){
            alert("The salary you have choosen for the given position is too low, please enter a realistic salary")
            return true
        }     else if ($('.productarea .opts').val() === "IT" &&  Number($('.salary').val()) < 20000){
                alert("The salary you have choosen for the given position is too low, please enter a realistic salary")
                return true
            }
    };
    function MinSalaryFinance() {
        if ($('.productarea .opts').val() === "Finance" && $('.experience').val() === "1 year" && Number($('.salary').val()) < 33000){
            alert("The salary you have choosen for the given position is too low, please enter a realistic salary");
            return true
        }
        else if ($('.productarea .opts').val() === "Finance" && $('.experience').val() === "Just Graduated" && Number($('.salary').val()) < 25000){
              alert("The salary you have choosen for the given position is too low, please enter a realistic salary")
              return true
          }
        else if ($('.productarea .opts').val() === "Finance" && $('.experience').val() === "2 years" && Number($('.salary').val()) < 37000){
            alert("The salary you have choosen for the given position is too low, please enter a realistic salary")
            return true
        }
        else if ($('.productarea .opts').val() === "Finance" && $('.experience').val() === "3 years" && Number($('.salary').val()) < 40000){
            alert("The salary you have choosen for the given position is too low, please enter a realistic salary")
            return true
        }
        else if ($('.productarea .opts').val() === "Finance" && $('.experience').val() === "4 years" && Number($('.salary').val()) < 45000){
            alert("The salary you have choosen for the given position is too low, please enter a realistic salary")
            return true
        }
        else if ($('.productarea .opts').val() === "Finance" && $('.experience').val() === "5 years" && Number($('.salary').val()) < 50000){
            alert("The salary you have choosen for the given position is too low, please enter a realistic salary")
            return true
        }     else if ($('.productarea .opts').val() === "Finance" &&  Number($('.salary').val()) < 20000){
                alert("The salary you have choosen for the given position is too low, please enter a realistic salary")
                return true
            }
      };

    //MINMUM SALARY DEEPENDING ON EXPERIANCE
    function experianceVsPositionPercentage(){
      var experience = $('.experience').val();
      var percentage = $('.percentage').val();

      if (percentage !== "100 %" && experience !== "Student" && experience !== "Just Graduated") {
        alert("The person you are looking for will not be interested anything other than a fulltime position please update the position percentage or lower the level of experance to Just Graduated");
       return true
      };
    };

    //ON CLICK OF SHOW SUPPLIER RESTRICTIONS
    function showSuppliers(){$('.show').click(function (e){

      var isValid = true;
      // e.preventDefault(); // preventss default behavior
      if ($('.salary').val().length < 5) {
        alert("Salary too low, please fill in realistic salary");
        isValid = false
      }
      else if(Date.parse($('.start_date').val()) > Date.parse($('.end_date').val())){
        alert("start datum kan inte förekomma efter slut datum");
        isValid = false
      }
      else if(Date.parse($('.start_date').val()) < Date.now()){
        alert("start datum måste förekomma efter dagens datum");
        isValid = false
      }
      else if (experianceVsPositionPercentage() === true ){
        // return false
        isValid = false
      }
      else if (MinSalaryIt() === true ){
        // return false
        isValid = false
      }
      else if (MinSalaryFinance() === true ){
        // return false
        isValid = false
      }
      else {

        isValid = true
      };
      if (!isValid) {
        e.preventDefault();
        };
      });
    };
    ///// THIS WORKS!!!!THIS WORKS!!!!!!!!
    function choose_Supplier(){$('.välj_leverator').click(function(event){

      $('.btn.btn-primary.test').trigger('click')
          var productarea = $('.productarea').val()
          var position = $('#position').val()
          var start_date = $("#start_date").val()
          var end_date = $("#end_date").val()
          var city = $("#city").val()
          var percentage = $(".percentage").val()
          var experience = $(".experience").val()
          var salary = $("#salary").val()

          // var supplier = $('.supplier_table').closest('supplier_div');


          var supplier = event.target.closest('.supplier_div');
          var supplier_name = supplier.children[0].childNodes[1].textContent;

          var supplier_id = supplier.children[3].childNodes[1].textContent;
          var supplier_price = supplier.children[4].childNodes[1].textContent;
          var supplier_recruitment = supplier.children[2].childNodes[1].textContent;


          var type_of_service = $('.rent_or_recruit').val()

        var string =  "<p id='productarea'> Område: " + productarea +"</p>" + "<p id='position'> Tjänst: " + position +"</p>" + "<p id='start_date'> Start datum: " + start_date + "</p>" + "<p id='end_date'> Slut Datum: " + end_date + "</p>" + "<p id='city'> Stad: " + city + "</p>" + "<p id='percentage'> Ställningsprocent: " + percentage + "</p>" + "<p id='city'> Erfarenhet: " + experience + "</p>" +  "<p id='supplier_price'>" + supplier_price +"</p>"+ "<p id='supplier_recruitment'>" + supplier_recruitment +"</p>" + "<p id='supplier_name'> Leverantör: " + supplier_name + "</p>"+ "<p hidden id='supplier_id'>" + parseInt(supplier_id); + "</p>"+ "<p id='supplier_price'>" + supplier_price + "</p>";

        $('.modal-body').html(string);
        event.preventDefault();

        // SENDING DATA TO BACKEND VIA AJAXCALL
        $('.btn.btn-secondary.confirm_order').click(function(){
          $.ajax({
            type: "GET",
            url: "/confirm_order_and_email",
            data: {contracts: { productarea: productarea, position: position, start_date: start_date, end_date: end_date, city: city, percentage: percentage, experience: experience, salary: salary, supplier_name: supplier_name, supplier_id: supplier_id, supplier_price: supplier_price, productarea: productarea, type_of_service: type_of_service}}
          });
        });
      });
    };



$(document).on('ready', function(){

    showSuppliers();

    choose_Supplier();


  $('#productarea').val( localStorage.getItem("saveProductArea"));

  $('.experience').val( localStorage.getItem("saveExperiance"));

  $('.percentage').val( localStorage.getItem("savePercentage"));

});



function myFunction(e){

  var prodArea = $('#productarea').val()
  var experience = $('.experience').val()
  var percentage = $('.percentage').val()

  localStorage.setItem("saveProductArea", prodArea);
  localStorage.setItem("saveExperiance", experience);
  localStorage.setItem("savePercentage", percentage);
  //document.getElementById("main_form").submit();



  if (document.getElementsByClassName("supplier_div")[0]) {
    // console.log("hej hej")
    document.getElementById("reset").click();
  };
}



function notLoggedIn(){
  if ($('.petterpetter').text()
 === "false"){
    alert("Vänligen logga in för att göra en beställning");
    document.getElementById("login").click();
  } else if ($('.petterpetter').text()
==="true") {
  alert("Tack för din beställning! Du har nu fått en orderbekräftelse till din mail, och leverantören du valde kommer kontakta dig inom kort")
  document.getElementById("reset").click();


  }

}


// VIKTIGT ATTT SPARA TILL LÖN OM DEN INTE SKALL GÅ ATT ÄNDRA
// , readonly: params["salary"] ? true : false
//
// function localStor(){
//
//
//   // document.getElementById("productarea").addEventListener("click", function(){
//   //   localStorage.setItem("productarea10", $('.productarea').val());
//   //
//   //    console.log(localStorage.getItem("productarea10"));
//   //
//   //
//   //
//   //
//   // });
//
//   // $('.productarea') = localStorage.getItem("productarea10");
//
//
//
// addEventListener('DOMContentLoaded', function(){
//   document.querySelector('select[name="assitance"]').onchange=changeEventHandler;},false);
//
//
// function changeEventHandler(event){
//  localStorage.setItem("productarea10", $('.productarea').val());
// };
//
//
// };
