@import "bootstrap";


/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
   *= require_self
   *= require_tree .
   */


   //Pop up on click of button "select of suppliers"


   .login_main_div div{

   }

   .wrapper_login_form{
   text-align: center;
   }
   .login_form{
     display: inline-block;
     width: 30%;
     border: solid;
     text-align: center;
      background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
   }

   .wrapper_signup_form{
   text-align: center;

   }
   .signup_form{
     display: inline-block;
     width: 30%;
     border: solid;
     text-align: center;
   }

.submit_tag_login{
  background-color: blue;
}


   // Small devices (landscape phones, 576px and up)
   @media (min-width: 576px) {

    //FIRST PAGE////////////////////////////////////////////////////////////////
.header{
  font-family: arial;color:#ffffff;
  font-size: 100%;
  width: 50%;
}
.header a{
  font-family: arial;color:#ffffff;
  font-size: 100%;
  width: 50%;
}

    .top_menu{
      font-family: arial;color:#ffffff;
      font-size: 120%;
      float: right;
      margin-top: -15px;

    }
    .top_menu:hover{
      color:#ffffff;
    }

    #submit_prod_area_div{
    text-align: center;
    align-items: center;
      }
    .submit_prod_area{
      // border: solid black;
      // display: inline-block;
      // font-family: arial;color:#ffffff;
      font-size: 420%;
      background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
      color:white;
      margin-top: 90px;
      margin-left: 40px;
      margin-right: 85px;
      border:white;

      text-shadow: 0 1px 0 rgba(0,0,0,.2);


      -webkit-border-radius: 12px;
      -moz-border-radius: 12px;
      border-radius: 12px;

      -webkit-box-shadow: 0px 15px 0px #009933, 0px 10px 25px rgba(0,0,0,.5);
      -moz-box-shadow: 0px 15px 0px #009933, 0px 10px 25px rgba(0,0,0,.5);
      box-shadow: 0px 15px 0px #009933, 0px 10px 25px rgba(0,0,0,.5);



     }
     .submit_prod_area:hover{
       font-size: 470%;
     }

    .header_index{
      height:800px;
      align-items: center;
      border-bottom: solid;
    }
    .h1_index{
      display: inline-block;
      font-family: arial;color:#ffffff;
      font-size: 600%;
      margin-top: 100px;
      margin-left: 75px;
    }
    .h4_index{
      font-family: arial;color:#ffffff;
      margin-left: 75px;
      font-size: 200%;
      font-style: italic;

    }
    .intro_text{
      display: inline-block;
      margin-top: 40px;
      margin-left: 75px;
      margin-right: 75px;
      font-family: arial;color:#ffffff;
      font-size: 200%;
    }


    .video_div{
      text-align: center;
    }
    .video{
      display: inline-block;
    }

    .footer_index{
        background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
      border-top: solid white;
      text-align: center;
      height: 100%;
      color: white;

    }
    .footer_index_text{
      display: inline-block;
      margin-top:50px;
      margin-bottom: 50px;
      width: 100%;
      height: 100%;
    }

    .byråer{
      background-image: linear-gradient(-225deg, #FFFEFF 0%, #D7FFFE 100%);
      height: 350px;
      width: 100%;
      margin-top: -12px;
    }
    //////END OF FIRST PAGE//////////////////////////////////////////////////////////////////////////


///////////////LOGIN//////////////
/////////////////////////////////
body{

  background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);

}
.login_main_div{
  text-align: center;
  margin-top: 35%;

}
.login_main_div h1{
  display: inline-block;
  font-size: 500%;
  color: white;
}

.login_form{
  display: inline-block;
  font-size: 500%;
  width: 80%;
  height: 80%;
  border: 15px solid white;

}

.submit_tag_login{
  border: solid;
  width: 100%;


  color: #fff;
  text-shadow: 0 1px 0 rgba(0,0,0,.2);

  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,.3)), to(rgba(255,255,255,0)));
  background-image: -webkit-linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
  background-image: -moz-linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
  background-image: -ms-linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
  background-image: -o-linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
  background-image: linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
}
.submit_tag_login:hover{
  font-size: 110%;
}
.login_paragraphs{
  width:80%;
  text-align:left;
  margin-left: 70px;
  color:white;
}

.email_login{
  border: solid white;
  width: 80%;
}
#password{
  border: solid white;
  width: 80%;
  margin-bottom: 30px;
}
.password_login_tag{
  display: none;
}
.login_signup_path{
  color: white;
  margin-top: 20px;
  font-size: 200%
}
////////////////////////END OF LOGIN////////////////////
/////////////////////////////////////////////////////////////////////////////////////////



/////////////REGISTRATION///////////////
///////////////////////////////////////
////////////////////////////////////7//
  .signup_form{
    text-align: center;
    width: 100%;
    border: none;
  }
  .signup_form div {
    width: 80%;
    display: inline-block;
    font-size: 300%;
    margin-top: 50px;
    margin-bottom: 30px;
    border: 15px solid white;

  }
  .signup_form div p {
    text-align: left;
    margin-left: 140px;
    color: white;
  }
  .signup_submit_registration{
    border: solid;
    width: 100%;




    margin-top: 30px;
    font-size: 130%;
    color: #fff;
    text-shadow: 0 1px 0 rgba(0,0,0,.2);
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,.3)), to(rgba(255,255,255,0)));
    background-image: -webkit-linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
    background-image: -moz-linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
    background-image: -ms-linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
    background-image: -o-linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
    background-image: linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
  }
  .signup_submit_registration:hover{
    font-size: 140%;
  }
  ////////END OF REGISTRATION//////////////
  /////////////////////////////////////////
  /////////////////////////////////////////
  /////////////////////////////////////////


  ////////JÄMFÖR LEVERANTÖRER//////////////
  ////////////////////////////////////////
  ////////////////////////////////////////
  .wrapper_main_page1{
    text-align: left;
  }
  #main_form{
    display: inline-block;
    font-size: 150%;
    color: white;
    width: 30%;
  }
  #main_form div{
    text-align: center;
  }
  .submit_jämför_lev{
    border: solid;
  }

  .headers_form{
    margin-top: 10px;
    margin-bottom: 0px;
  }

.percentage, .productarea, .experience{
//   border: solid white;
width: 240px;
}

#start_date, #end_date, #city, #position, #salary, .productarea, .percentage, .experience{
  color: #45b3e0;
  border: solid white;
}

  .show{
    border: solid white;
    width: 50%;
    font-size: 500%;
    margin-left: 400px;
    position: absolute;
    margin-top:-500px;

background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
color:white;

-webkit-border-radius: 12px;
-moz-border-radius: 12px;
border-radius: 12px;

-webkit-box-shadow: 0px 15px 0px #009933, 0px 10px 25px rgba(0,0,0,.5);
-moz-box-shadow: 0px 15px 0px #009933, 0px 10px 25px rgba(0,0,0,.5);
box-shadow: 0px 15px 0px #009933, 0px 10px 25px rgba(0,0,0,.5);

// margin: 50px auto;

border-color: #66ff66;
border-width: 10px;
border-radius: 40px 100px 100px 100px;
padding: 20px;
}
  .show:hover{
    font-size: 540%;
  }
  #reset{

  background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);

  margin-left: 540px;
  position: absolute;
  margin-top: -190px;
  width: 200px;
  text-align: center;
  color: white;
  font-size: 120%;
  }

  table{
       font-size: 180%;
       color:white;
      border-bottom: solid;
      margin-bottom: 10px;
      margin-top: 50px;
      margin-left: 5px;
     }
.supplier_div div p{
  border-bottom:solid;
}
  .table_head{
    border-collapse: separate;
        border-spacing: 60px;
  }
  #table_head_lever{
        position: relative;
        margin-left: 0px;
       padding-right: 90px;
     }
     #table_head_stad{
       padding-right: 100px;
     }
     #table_head_rek{
       padding-right: 30px;
     }

.suppliers_name{
  width: 220px;
}
     #supplier_1{
       margin-left: 5px;

       display:inline-block;margin-right:10px;
       font-size: 180%;
       color:white;
     }
     #supplier_1 p{
       display: inline-block;margin-right:20px;
     }

     #supplier_2{
       margin-left: 5px;

       display: inline-block;margin-right:10px;
       font-size: 180%;
       color:white;

     }
     #supplier_2 p{
       display: inline-block;margin-right:20px;
     }

  .välj_leverator{
    margin-left: 40px;
    margin-top: 5px;
    padding-left: 80px;
    color:#fff;
    border:none;
    padding:0 0em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
    width: 220px;
    align-items: center;

    background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
    color:white;

    border-color: #66ff66;
    border-width: 3px;
    border-radius: 20px 50px 50px 50px;
}

  .välj_leverator :hover {
    background:#fff;
      color:#1AAB8A;

  }
.suppliers_recruitment_price{
  padding-left: 20px;
}

////////////////////END OF JÄMFÖR LEV//////////
/////////////////////////////////
/////////////////////////)///////////
//////////////////////



////////////MODAL////////////
////////////////////////////
////////////////////////////
#exampleModal{
  font-size: 100%;
  margin-top: 10px;
  background: white;
  color: green;
}
.modal-body{
  padding-left: 20px;
}
#exampleModalLabel{
  font-style: bold;
  font-size: 200%;
}
#exampleModal p{
  color: green;
  font-size: 150%;
}
#exampleModal button{
  background: green;
  width: 100%;
  font-size: 180%;
}
#exampleModal .close{
  width:80px;
  height: 80%;
background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);
}
#exampleModal select option {
  background: green;
}
.rent_or_recruit{
  color: white;
  width: 100%;
  height: 55px;
  font-size: 200%;
      background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);
  padding-left: 160px !important;
}

#spec_rekbem{
  width: 100%;
  text-align: center;
  color: #CD5C5C !important;
  padding-left: 20px;
  padding-right: 20px;
  }
}




   // Medium devices (tablets, 768px and up)
   @media (min-width: 768px) {
     background-color: red;

   }

   // Large devices (desktops, 992px and up)
   @media (min-width: 992px) {
   background-color: red;

    }

   // Extra large devices (large desktops, 1200px and up)
   @media (min-width: 1200px) {
     background-color: red;
    }
