@import "bootstrap";


/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
   *= require_self
   *= require_tree .
   */


   //Pop up on click of button "select of suppliers"
   .wrapper_login_form{
   text-align: center;
   }
   .login_form{
     display: inline-block;
     width: 30%;
     border: solid;
     text-align: center;
   }

   .wrapper_signup_form{
   text-align: center;
   }
   .signup_form{
     display: inline-block;
     width: 30%;
     border: solid;
     text-align: center;
   }



   // Small devices (landscape phones, 576px and up)
   @media (min-width: 576px) {

    //FIRST PAGE////////////////////////////////////////////////////////////////

    .header{
      display:none;
    }
    .top_menu{
      font-family: arial;color:#ffffff;
      font-size: 120%;
      background-color: #AFEEEE;
    }
    .top_menu:hover{
      color:#ffffff;
    }

    #submit_prod_area_div{
    text-align: center;
    align-items: center;
      }
    .submit_prod_area{
      // border: solid black;
      // display: inline-block;
      // font-family: arial;color:#ffffff;
      font-size: 420%;
      background-color:#AFEEEE;
      margin-top: 90px;
      margin-left: 40px;
      margin-right: 85px;

      color: #fff;
      text-shadow: 0 1px 0 rgba(0,0,0,.2);

      background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,.3)), to(rgba(255,255,255,0)));
      background-image: -webkit-linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
      background-image: -moz-linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
      background-image: -ms-linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
      background-image: -o-linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
      background-image: linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
     }
     .submit_prod_area:hover{
       font-size: 470%;
     }

    .header_index{
      background-color: #AFEEEE;
      height:800px;
      align-items: center;
      border-bottom: solid;
    }
    .h1_index{
      display: inline-block;
      font-family: arial;color:#ffffff;
      font-size: 600%;
      margin-top: 100px;
      margin-left: 75px;
    }
    .h4_index{
      font-family: arial;color:#ffffff;
      margin-left: 75px;
      font-size: 200%;
      font-style: italic;

    }
    .intro_text{
      display: inline-block;
      margin-top: 40px;
      margin-left: 75px;
      margin-right: 75px;
      font-family: arial;color:#ffffff;
      font-size: 200%;
    }


    .video_div{
      text-align: center;
    }
    .video{
      display: inline-block;
    }

    .footer_index{
      background-color:#AFEEEE;
      border-top: solid white;
      text-align: center;
      height: 100%;

    }
    .footer_index_text{
      display: inline-block;
      margin-top:100px;
      width: 100%;
      height: 100%;
    }

    .byråer{
      background-color: lightgrey;
      height: 350px;
      width: 100%;
      margin-top: -12px;
    }
    //////END OF FIRST PAGE//////////////////////////////////////////////////////////////////////////


///////////////LOGIN//////////////
/////////////////////////////////
body{
  background-color:#AFEEEE;

}
.login_main_div{
  text-align: center;
  background-color:#AFEEEE;
  margin-top: 35%;

}
.login_main_div h1{
  display: inline-block;
  font-size: 500%;
  color: white;
}

.login_form{
  display: inline-block;
  font-size: 500%;
  width: 80%;
  height: 80%;
  border: 15px solid white;

}

.submit_tag_login{
  border: solid;
  width: 100%;
  background-color:#AFEEEE;


  color: #fff;
  text-shadow: 0 1px 0 rgba(0,0,0,.2);

  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,.3)), to(rgba(255,255,255,0)));
  background-image: -webkit-linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
  background-image: -moz-linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
  background-image: -ms-linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
  background-image: -o-linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
  background-image: linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
}
.submit_tag_login:hover{
  font-size: 110%;
}
.login_paragraphs{
  width:80%;
  text-align:left;
  margin-left: 70px;
  color:white;
}

.email_login{
  border: solid white;
  width: 80%;
}
#password{
  border: solid white;
  width: 80%;
  margin-bottom: 30px;
}
.password_login_tag{
  display: none;
}
.login_signup_path{
  color: white;
  margin-top: 20px;
  font-size: 200%
}
////////////////////////END OF LOGIN////////////////////
/////////////////////////////////////////////////////////////////////////////////////////



/////////////REGISTRATION///////////////
///////////////////////////////////////
////////////////////////////////////7//
  .signup_form{
    text-align: center;
    width: 100%;
    border: none;
  }
  .signup_form div {
    width: 80%;
    display: inline-block;
    font-size: 300%;
    margin-top: 50px;
    margin-bottom: 30px;
    border: 15px solid white;

  }
  .signup_form div p {
    text-align: left;
    margin-left: 140px;
    color: white;
  }
  .signup_submit_registration{
    border: solid;
    width: 100%;
    background-color:#AFEEEE;
    margin-top: 30px;
    font-size: 130%;
    color: #fff;
    text-shadow: 0 1px 0 rgba(0,0,0,.2);
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,.3)), to(rgba(255,255,255,0)));
    background-image: -webkit-linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
    background-image: -moz-linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
    background-image: -ms-linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
    background-image: -o-linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
    background-image: linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
  }
  .signup_submit_registration:hover{
    font-size: 140%;
  }
  ////////END OF REGISTRATION//////////////
  /////////////////////////////////////////
  /////////////////////////////////////////
  /////////////////////////////////////////


  ////////JÄMFÖR LEVERANTÖRER//////////////
  ////////////////////////////////////////
  ////////////////////////////////////////
  .wrapper_main_page1{
    text-align: left;
  }
  #main_form{
    display: inline-block;
    font-size: 150%;
    color: white;
    width: 30%;
  }
  #main_form div{
    text-align: center;
  }
  .submit_jämför_lev{
    border: solid;
  }
.productarea{
  color: #AFEEEE;
  border: solid white;
}

.percentage{
  color: #AFEEEE;
  border: solid white;
}
.experience{
  color: #AFEEEE;
  border: solid white;
}

  .show{
    border: solid white;
    width: 50%;
    font-size: 500%;
    margin-left: 400px;
    position: absolute;
    margin-top:-500px;
    background-color:#AFEEEE;
    color: #fff;
    text-shadow: 0 1px 0 rgba(0,0,0,.2);
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,.3)), to(rgba(255,255,255,0)));
    background-image: -webkit-linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
    background-image: -moz-linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
    background-image: -ms-linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
    background-image: -o-linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
    background-image: linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
  }
  .show:hover{
    font-size: 540%;
  }
  #reset{
  border: solid white;
  background-color: #48D1CC;
  margin-left: 400px;
  position: absolute;
  margin-top: -278px;
  width: 490px;
  text-align: center;
  color: white;
  font-size: 200%;
  }

  table{
    border-collapse: separate;
       border-spacing: 20px 0px;
     }
#table_head_rek{
position: fixed;
margin-left: 28px;
}
#table_head_hyr{
  position: fixed;
  margin-left: 120px;
}
.suppliers_name{
float:left;
display:inline-block;margin-right:10px;
margin-left: 20px;

}

.suppliers_city{
  display:inline-block;
  margin-left: 20px;
}
.suppliers_recruitment_price{
  display:inline-block;
  margin-left: 20px;

}
.suppliers_id{
  display: inline-block;

}
.suppliers_price{
  display:inline-block;
  margin-left: 20px;


}
.suppliers_price p{
  display:inline-block;
  margin-left: 10px;
}

.välj_leverator{
  margin-left: 60px;
}


}




   // Medium devices (tablets, 768px and up)
   @media (min-width: 768px) {
     background-color: red;

   }

   // Large devices (desktops, 992px and up)
   @media (min-width: 992px) {
   background-color: red;

    }

   // Extra large devices (large desktops, 1200px and up)
   @media (min-width: 1200px) {
     background-color: red;
    }
