// Place all the styles related to the main_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//Pop up on click of button "select of suppliers"
.wrapper_login_form{
text-align: center;
}
.login_form{
  display: inline-block;
  width: 30%;
  border: solid;
  text-align: center;
}

.wrapper_signup_form{
text-align: center;
}
.signup_form{
  display: inline-block;
  width: 30%;
  border: solid;
  text-align: center;
}



// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  background-color: red;
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  background-color: red;

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
background-color: red;

 }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  background-color: red;
 }
